body {
background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  justify-content:center;
}
.chrome-scroll{
  overflow-y: scroll;
}
.chrome-scroll::-webkit-scrollbar{
  /* overflow-y: scroll; */
  /* border-radius: 5px; */
  width: 3px;
  height: 5px;
  /* background-color: #aaa; */
}

.chrome-scroll::-webkit-scrollbar-thumb{
  background: #4d4d4d;
}
